[Unit]
Description=Custom Fan Service
After=custom_startup.service

[Service]
Type=simple
ExecStart=/usr/bin/fandaemon_wrapper.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
